@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  isolation: isolate;
}

body {
  background: #ffffff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .black-overlay-behind::after {
    @apply bg-black/50 inset-0;
    content: "";
    position: fixed;
    width: 200vw;
    height: 200vh;
    z-index: -1;
  }
}
